html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e6e6e6;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888888;
}

.note-textarea,
.note-title {
  color: #333333;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  margin-top: 15px;
}

.note-title {
  height: 50px;
  font-size: 2rem;
  padding-left: 20px; 
  padding-right: 20px;
  margin-top: 13px;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #888888;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}

.list-container {
  padding: 20px;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border: none;
}

.list-item-title {
  display: inline-block;
  width: 75%;
  font-size: 1.2rem;
}

.list-container i {
  font-size: 1.2rem;
  cursor: pointer;
  color: #888888;
}

.list-container .list-group-item {
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.list-container .list-group-item:hover {
  background-color: #dddddd;
}
